<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
<meta charset="utf-8" />
<title>Logistic system</title>
<meta name="description"
	content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="{{ url_for('static', filename = 'css/font.css') }}"
	rel="stylesheet">
<link href="{{ url_for('static', filename = 'css/app.v1.css') }}"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
	rel="stylesheet">
<script src="{{ url_for('static', filename = 'js/app.v1.js') }}"></script>
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js"></script> <script src="js/ie/respond.min.js"></script> <script src="js/ie/excanvas.js"></script> <![endif]-->
</head>

<body class="">
	{% with messages = get_flashed_messages() %} {% if messages %} {% for
	message in messages %}
	<script type="text/javascript">
            $(function(){
                $.toast({ 
                  heading: 'Có lỗi xảy ra',
                  text : "{{ message }}", 
                  position : 'bottom-right',
                  icon: 'error'        
                })               
            })
        </script>
	{% endfor %} {% endif %} {% endwith %}
	<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
		<div class="container aside-xxl">
			<a class="navbar-brand block" href="index.html">Logistic system</a>
			<section class="panel panel-default bg-white m-t-lg">
				<header class="panel-heading text-center">
					<strong>Sign in</strong>
				</header>
				<form action="/signin" method="POST" class="panel-body wrapper-lg">
					{{ form.csrf_token }}
					<div class="form-group">
						<label class="control-label">Email</label> <input type="email"
							placeholder="yourmail@example.com"
							autocomplete="false"
							value="{{ request.form['email'] }}"
							data-type="Dữ liệu nhập vào không đúng định dạng"
							data-require="Vui lòng nhập email của bạn" required="required"
							name="email" class="form-control input-lg require type">
					</div>
					<div class="form-group">
						<label class="control-label">Password</label><input
							type="password" id="inputPassword" data-require="Vui lòng nhập mật khẩu của bạn"
							name="password" placeholder="Password"
							class="form-control input-lg require">
					</div>
					<div class="checkbox">
						<label> <input type="checkbox"> Keep me logged in
						</label>
					</div>
					<a href="#" class="pull-right m-t-xs"><small>Forgot
							password?</small></a>
					<button type="submit" class="btn btn-primary" name="login">Sign
						in</button>
					<div class="line line-dashed"></div>
					<a href="#" class="btn btn-facebook btn-block m-b-sm"><i
						class="fa fa-facebook pull-left"></i>Sign in with Facebook</a> <a
						href="#" class="btn btn-twitter btn-block"><i
						class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>
					<div class="line line-dashed"></div>
					<p class="text-muted text-center">
						<small>Do not have an account?</small>
					</p>
					<a href="/signup" class="btn btn-default btn-block">Create
						an account</a>
				</form>
			</section>
		</div>
	</section>
	<!-- footer -->
	<footer id="footer">
		<div class="text-center padder">
			<p>
				<small>Created by logistic company<br>&copy;
					2019
				</small>
			</p>
		</div>
	</footer>
	<!-- / footer -->
	<!-- Bootstrap -->
	<!-- App -->

	<script src="{{ url_for('static', filename = 'js/app.plugin.js') }}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
	<script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>
</body>

</html>